body {
    font-family: "Times New Roman";
    background: linear-gradient(90deg, rgba(66, 64, 63, 1) 0%, rgba(42, 35, 35, 1) 50%, rgba(52, 45, 33, 1) 100%);
}

h1{
    text-align: center;
    margin: 110px 0 40px 0;
    font-size: 50px;
    font-weight: inherit;
    color: white !important;
}

.note {
    display: flex;
    flex-direction: column;
    width: 674.5px;
    /*justify-content: center;*/
    margin-left: auto;
    margin-right: auto;
}

.noteTitle{
    height: 33.64px;
    padding: 6.5px 10px;
    border-radius: 5px;
}


.textArea{
    margin-top: 20px;
    width: 100%;
    /*height: 150px;*/
    }


.btn-group button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 26.5px;
    border-color:  white white white white    ;
    margin-right: 9px;
}

.btn-group button::after{
    background: #000;
    height: 100%;
    width: 100%;
}

.submit {
    margin-left: 400px;
    height: 30px;
    padding: 1px !important;
    width: 65px !important;
    border-radius: 6px !important;
    font-size: 15px !important;
    font-weight: 400 !important;
}

.filterNote{
   width: 250px !important;
    margin-top: 15px!important;
}


.titleNote{
    margin-top: 40px;
    width: 186px;
    padding: 7px;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
}

.modal{
    margin-top: 27px;
    float: left;
    margin-right: 30px;
}

.modalColor button{
    height: 19px;
    width: 19px;
    border-radius: 50%;
    margin-right: 4px;
}

.deleteBtn {
    margin-left: 4px;
}

